.PlayerStatus {
    display: flex;
    flex-direction: row;
    flex: 10;
}

.Health {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-weight: bold;
    font-size: xx-large;
    background-color: red;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.Status {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}