.Card {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    margin: 10px;
}

.Card span {
    flex: 5;
    font-size: xx-large;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.CardName {
    display: flex;
    flex:2;
    align-content: center;
    justify-content: center;
}

.CardHeader {
    display:flex;
    flex-flow: row;
    font-size: small;
    flex: 10;
}

.CardCost {
    flex: 5;
}

.CardStatus {
    flex: 5;
}

.CardRenown {
    flex: 5;
}

.CardBody {
    flex: 30;
}

.CardFooter {
    flex: 10;
    display:flex;
    flex-flow: row;
}

.CardAttack {
    flex: 5;
    background-image: linear-gradient(to bottom right, salmon, lightsalmon);
}

.CardDefense {
    flex: 5;
    background-image: linear-gradient(to bottom right, green, springgreen);
}

.CardBuffed span {
    text-shadow: 1px 0 0 gold, 0 -1px 0 gold, 0 1px 0 gold, -1px 0 0 gold;
}

.CardDamaged span {
    color: red !important;
}
