.EnergyRow {
    flex: 1;
    display: flex;
    flex-flow: row;
}

.Energy {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.EnergyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 300;
    color: black !important;
    flex: 1;
}

.Locked {
    background-image: linear-gradient(to bottom right, grey, silver);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.Locked img{
    max-height: 30%;
    max-width: 30%;
}

.Spent {
    background-color: transparent;
}

.Total {
    /* background-color: gold; */
    background-image: linear-gradient(to bottom right, gold, wheat);
}

.Available {
    /* background-color: skyblue; */
    background-image: linear-gradient(to bottom right, blue, skyblue);

}